

.board {

    display:flex;

    flex-wrap: wrap;
    justify-content: space-around;

    height:500px;
    width:500px;
    background: gray;
    padding: 10px;

    box-shadow: 5px 5px 10px;
}


.field {

    height: 150px;
    width: 150px;
    background: white;

    text-align: center;

    font-size: 130px;

    cursor: pointer;

    transition: ease all 0.3s;
}

.field.rood {
    background: red;
}
.field.blauw {
    background: blue;
}

#stateText {
    width: 500px;
    text-align: center;
}